[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
gevent = "*"
gevent-websocket = "*"
python-socketio = "*"
psycopg2 = "*"
pillow = "*"
django-filter = "*"
requests = "*"

[dev-packages]
